{% extends 'main_with_header.html' %}

{% block title %} Settings {% endblock %}

{% block body %}

<h3 class="text-center">Settings</h3>
<div class="container mt-5">
    <div class="card d-flex justify-content-center">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class=" mb-3">
                    <label for="profile-picture-input" class="form-label">Profile picture</label>
                    <input type="file" class="form-control" id="profile-picture-input" name="profile-picture">
                </div>
                <div class="mb-3">
                    <label for="username-input" class="form-label">Username</label>
                    <input type="text" id="username-input" class="form-control" name="username"
                           value="{{ user.username }}"
                           required>
                </div>
                <div class="mb-3">
                    <label for="bio-input" class="form-label">Bio</label>
                    <input type="text" id="bio-input" class="form-control" name="bio"
                           {% if user.bio %} value="{{ user.bio }}" {% endif %}>
                </div>
                <div class="mb-3">
                    <label for="telegram-input" class="form-label">Telegram</label>
                    <input type="text" id="telegram-input" class="form-control" name="telegram"
                           {% if user.telegram %} value="{{ user.telegram }}" {% endif %}>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary px-5">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}